<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuestionRandomizerApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuestionRandomizerApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">
                    Question Randomizer
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - QuestionRandomizerApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

        document.addEventListener("DOMContentLoaded", function () {

            const select =
                document.getElementById("questionSelect");

            const customDiv =
                document.getElementById("customDiv");

            const customInput =
                document.getElementById("customInput");

            const hiddenInput =
                document.getElementById("questionCount");

            select.addEventListener("change", function () {

                if (this.value === "custom")
                {
                    customDiv.style.display = "block";

                    hiddenInput.value =
                        customInput.value || 1;
                }
                else
                {
                    customDiv.style.display = "none";

                    hiddenInput.value = this.value;
                }
            });

            customInput.addEventListener("input", function () {

                hiddenInput.value = this.value;

            });

        });

    </script>

</body>
</html>
